{
    "extends": [
        "prettier",
        "prettier/react",
        "airbnb",
        "airbnb/hooks"
    ],
    "env": {
        "jest": true
    },
    "globals": {
        "document": true
    },
    "rules": {
        "react/jsx-filename-extension": [
            0,
            {
                "extension": [
                    ".js"
                ]
            }
        ],
        "import/no-extraneous-dependencies": [
            1
        ],
        "import/prefer-default-export": [
            1
        ],
        "react/jsx-props-no-spreading": [
            1
        ],
        "import/no-cycle": [
            1
        ]
    }
}